body {
  --yellow-500: #ffeb3b;
  --red-400: #ef5350;
  --green-600: #43a047;
  background-color: #333;
  color: var(--yellow-500);
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 1pt solid var(--yellow-500);
  padding: 0 5pt;
  width: 300pt;
  font-size: 14pt;
  height: 30pt;
  line-height: 30pt;
  color: white;
  text-align: left;
}

input:focus {
  outline: none;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
